<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="example@gmail.com"
          [formControlName]="'email'"
        />
        <mat-error *ngIf="form.get('email')?.invalid">{{
          getEmailError()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Імʼя</mat-label>
        <input matInput [formControlName]="'name'" required="" />
        <mat-error *ngIf="form.get('name')?.invalid">{{
          getNameError()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Телефон</mat-label>
        <input matInput [formControlName]="'phone'" />
      </mat-form-field>
      <mat-checkbox formControlName="isAdmin">Адміністратор</mat-checkbox>
      <div class="buttons">
        <button
          mat-raised-button
          type="submit"
          [disabled]="
            form.invalid ||
            form.disabled ||
            (!isNew &&
              user?.name == form.value.name &&
              user?.email == form.value.email &&
              user?.phone == form.value.phone &&
              user?.isAdmin == form.value.isAdmin)
          "
          class="save"
        >
          Зберегти
        </button>
        <a
          *ngIf="!isNew"
          [disabled]="form.disabled"
          mat-raised-button
          class="delete"
          (click)="delete()"
        >
          <mat-icon>delete</mat-icon>
        </a>
      </div>
    </form>
    <app-list *ngIf="!isNew"></app-list>
  </mat-card-content>
</mat-card>
