<mat-card>
  <mat-card-content>
    <mat-toolbar>
      <button
        mat-raised-button
        matTooltip="Створити нове замовлення"
        (click)="addNew()"
      >
        <mat-icon>add</mat-icon>
        Додати
      </button>
    </mat-toolbar>
    <div class="table-wrapper">
      <table mat-table class="full-width-table" matSort>
        <!-- Order Column -->
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер</th>
          <td *matCellDef="let row" [routerLink]="row._id" class="clickable">
            {{ row.order }}
          </td>
        </ng-container>
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
          <td *matCellDef="let row">
            {{ row.date }}
          </td>
        </ng-container>
        <!-- User Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Клієнт</th>
          <td
            *matCellDef="let row"
            [routerLink]="'/users/' + row.user._id"
            class="clickable"
          >
            {{ row.user?.name }}
          </td>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
          <td *matCellDef="let row">
            {{ row.status }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      #paginator
      [length]="dataSource?.orders?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Оберіть сторінку"
    >
    </mat-paginator>
  </mat-card-content>
  <div class="spinner-container" *ngIf="dataSource.loading">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
