<mat-card>
  <mat-card-content>
    <mat-toolbar>
      <button
        mat-raised-button
        matTooltip="Створити нову закупку"
        (click)="addNew()"
      >
        <mat-icon>add</mat-icon>
        Додати
      </button>
    </mat-toolbar>
    <div class="table-wrapper">
      <table mat-table class="full-width-table" matSort>
        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер</th>
          <td
            *matCellDef="let row"
            [routerLink]="'/purchases/' + row._id"
            class="clickable"
          >
            {{ row.number }}
          </td>
        </ng-container>
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
          <td *matCellDef="let row">
            {{ row.date }}
          </td>
        </ng-container>
        <!-- Provider Column -->
        <ng-container matColumnDef="provider">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Постачальник
          </th>
          <td
            *matCellDef="let row"
            [routerLink]="
              row.provider?._id
                ? '/providers/' + row.provider?._id
                : '/purchases/'
            "
            class="clickable"
          >
            {{ row.provider?.name }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      #paginator
      [length]="dataSource?.purchases?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Оберіть сторінку"
    >
    </mat-paginator>
  </mat-card-content>
  <div class="spinner-container" *ngIf="dataSource.loading">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
