td.clickable
  cursor: pointer
  transition: all 150ms ease-in
  border-radius: 3px !important

  a
    height: 100%
    width: 100%

  &:hover
    background-color: whitesmoke

mat-spinner
  margin:0 auto

.search
  font-size: 14px
  margin: 0 15px
  max-width: 40%
