<mat-card>
  <mat-card-content>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Пошук</mat-label>
      <input
        matInput
        type="search"
        [(ngModel)]="value"
        (input)="dataSource.search(value)"
      />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Очистити"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->
    <mat-toolbar>
      <button
        mat-raised-button
        matTooltip="Додати нову категорію"
        routerLink="new"
      >
        <mat-icon>add</mat-icon>
        Додати
      </button>
    </mat-toolbar>
    <table mat-table class="full-width-table" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Назва</th>
        <td *matCellDef="let row">
          {{ row.name }}
        </td>
      </ng-container>
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Опис</th>
        <td *matCellDef="let row">
          {{ row.description }}
        </td>
      </ng-container>
      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Категорія</th>
        <td *matCellDef="let row">
          {{ row.category?.name }}
        </td>
      </ng-container>
      <!-- Article Column -->
      <ng-container matColumnDef="article">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Артикул</th>
        <td *matCellDef="let row">
          {{ row.article }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onRowClicked(row)"
      ></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="dataSource?.products?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Оберіть сторінку"
    >
    </mat-paginator>
  </mat-card-content>
  <div class="spinner-container" *ngIf="dataSource.loading">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
