<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="125px">
    <mat-grid-tile [colspan]="colspan"
      ><div class="dashboard-card">
        <mat-card
          ><mat-card-header
            ><mat-card-title>Всього товарів </mat-card-title></mat-card-header
          >
          <mat-card-content>
            <h1>{{ productsCount }}</h1>
          </mat-card-content></mat-card
        >
      </div></mat-grid-tile
    >

    <mat-grid-tile [colspan]="colspan"
      ><div class="dashboard-card">
        <mat-card
          ><mat-card-header
            ><mat-card-title>Всього замовлень </mat-card-title></mat-card-header
          >
          <mat-card-content>
            <h1>{{ ordersCount }}</h1>
          </mat-card-content></mat-card
        >
      </div></mat-grid-tile
    >

    <mat-grid-tile [colspan]="colspan"
      ><div class="dashboard-card">
        <mat-card
          ><mat-card-header
            ><mat-card-title>Прибуток</mat-card-title></mat-card-header
          >
          <mat-card-content>
            <h1>{{ revenue }} грн.</h1>
          </mat-card-content></mat-card
        >
      </div></mat-grid-tile
    >
    <mat-grid-tile [colspan]="colspan"
      ><div class="dashboard-card">
        <mat-card
          ><mat-card-header
            ><mat-card-title
              >Нових користувачів</mat-card-title
            ></mat-card-header
          >
          <mat-card-content>
            <h1>{{ usersCount }}</h1>
          </mat-card-content></mat-card
        >
      </div></mat-grid-tile
    >

    <mat-grid-tile [colspan]="colspanChart" [rowspan]="rowspanChart"
      ><div class="dashboard-card">
        <mat-card
          ><mat-card-header
            ><mat-card-title
              >Графік замовлень за 30 днів</mat-card-title
            ></mat-card-header
          >
          <mat-card-content>
            <div id="chart-wrapper">
              <canvas id="chart"></canvas>
            </div> </mat-card-content
        ></mat-card></div
    ></mat-grid-tile>
  </mat-grid-list>
</div>
