<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="accordionForm">
      <mat-accordion multi>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title> Основна інформація </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill">
            <mat-label>Номер</mat-label>
            <input matInput formControlName="number" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Дата</mat-label>
            <input matInput formControlName="date" readonly />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Постачальник</mat-label>
            <mat-select formControlName="provider">
              <mat-option *ngFor="let item of providers" [value]="item._id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Товари </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div class="table-wrapper">
            <mat-grid-list cols="12" rowHeight="56px">
              <div class="Header">
                <mat-grid-tile colspan="3">Товар</mat-grid-tile>
                <mat-grid-tile colspan="2">Кількість</mat-grid-tile>
                <mat-grid-tile colspan="2">Артикул</mat-grid-tile>
                <mat-grid-tile colspan="1">Розмір</mat-grid-tile>
                <mat-grid-tile colspan="2">Ціна</mat-grid-tile>
                <mat-grid-tile colspan="2"></mat-grid-tile>
              </div>

              <div class="product-list">
                <ng-container formArrayName="list">
                  <ng-container
                    *ngFor="
                      let productForm of productList.controls;
                      let i = index
                    "
                  >
                    <div [formGroup]="$any(productForm)">
                      <mat-grid-tile colspan="3"
                        ><mat-form-field>
                          <mat-select
                            formControlName="product"
                            (selectionChange)="onProductChange($event, i)"
                          >
                            <mat-option
                              *ngFor="let item of products"
                              [value]="item._id"
                            >
                              {{ item.name }}
                            </mat-option>
                          </mat-select>
                          <a
                            matSuffix
                            mat-icon-button
                            aria-label="Обрати товари"
                            (click)="openDialog($event, i)"
                            class="icon-big"
                          >
                            <mat-icon>manage_search</mat-icon>
                          </a>
                        </mat-form-field>
                      </mat-grid-tile>
                      <mat-grid-tile colspan="2"
                        ><mat-form-field>
                          <input
                            matInput
                            formControlName="quantity"
                            placeholder="Кількість"
                            type="number"
                            min="1"
                            style="width: 50px"
                            (change)="calculateTotalPrice()" /></mat-form-field
                      ></mat-grid-tile>
                      <mat-grid-tile colspan="2"
                        ><mat-form-field>
                          <input
                            matInput
                            formControlName="article"
                            placeholder="Артикул"
                            readonly /></mat-form-field
                      ></mat-grid-tile>
                      <mat-grid-tile colspan="1"
                        ><mat-form-field>
                          <input
                            matInput
                            formControlName="size"
                            placeholder="Розмір"
                            readonly /></mat-form-field
                      ></mat-grid-tile>
                      <mat-grid-tile colspan="2"
                        ><mat-form-field>
                          <input
                            matInput
                            type="number"
                            min="0"
                            formControlName="cost"
                            placeholder="Ціна"
                            (change)="calculateTotalPrice()" /></mat-form-field
                      ></mat-grid-tile>
                      <mat-grid-tile colspan="2">
                        <a
                          mat-raised-button
                          class="delete"
                          (click)="deleteProduct(i)"
                          ><mat-icon> delete</mat-icon></a
                        >
                      </mat-grid-tile>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
              <mat-grid-tile colspan="8"
                ><a mat-mini-fab (click)="addProduct()">
                  <mat-icon>add</mat-icon>
                </a></mat-grid-tile
              >
              <mat-grid-tile colspan="2"
                >Загальна вартість:
                {{ totalPrice | currency: "₴" }}</mat-grid-tile
              >
              <mat-grid-tile colspan="2"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- <pre>{{ form.value | json }}</pre> -->

      <div class="buttons">
        <button
          mat-raised-button
          type="submit"
          [disabled]="form.invalid || form.disabled"
          class="save"
        >
          Зберегти
        </button>
        <a
          *ngIf="!isNew"
          [disabled]="form.disabled"
          mat-raised-button
          class="delete"
          (click)="delete()"
        >
          <mat-icon>delete</mat-icon>
        </a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
