<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    #drawerProducts
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="hideSidenav ? 'over' : 'side'"
    [opened]="hideSidenav ? false : true"
  >
    <mat-toolbar><!-- top spacing --></mat-toolbar>

    <ng-container [ngSwitch]="listLevel">
      <div class="top-bar">
        <mat-form-field class="search-field">
          <mat-label>Пошук</mat-label>
          <input
            matInput
            type="search"
            [(ngModel)]="searchText"
            (input)="search()"
          />
          <button
            *ngIf="searchText"
            matSuffix
            mat-icon-button
            aria-label="Очистити"
            (click)="searchText = ''; search()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button
          mat-icon-button
          *ngIf="hideSidenav"
          (click)="drawerProducts.close()"
        >
          <mat-icon>done</mat-icon>
        </button>
      </div>
      <mat-list *ngSwitchCase="0">
        <mat-list-item
          *ngFor="let category of categories"
          (click)="selectCategory(category)"
        >
          <span>{{ category.name }}</span>
        </mat-list-item>
      </mat-list>
      <mat-list *ngSwitchDefault>
        <button mat-button (click)="listLevel = 0" *ngIf="searchText == ''">
          <mat-icon>chevron_left</mat-icon>
          Назад
        </button>
        <mat-list-item
          *ngFor="let product of displayedContent"
          (click)="selectProduct(product)"
        >
          <div class="product-item">
            <div class="product-header">
              <span class="product-name">{{ product.name }}</span>
              <span class="product-icon">
                <mat-icon>
                  {{
                    isSelected(product)
                      ? "check_box"
                      : "check_box_outline_blank"
                  }}
                </mat-icon>
              </span>
            </div>
            <span class="product-article" *ngIf="product.article">
              АРТ {{ product.article }}</span
            >
            <span class="product-price">{{
              product.price | currency: "₴"
            }}</span>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="accordionForm">
          <mat-accordion multi>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title> Основна інформація </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field appearance="fill">
                <mat-label>Номер</mat-label>
                <input matInput formControlName="number" readonly />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Дата</mat-label>
                <input matInput formControlName="date" readonly />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Постачальник</mat-label>
                <mat-select formControlName="provider">
                  <mat-option *ngFor="let item of providers" [value]="item._id">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel
              [disabled]="productList.value.length === 0"
              [expanded]="productList.value.length !== 0"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <a
                    mat-icon-button
                    [style.color]="'black'"
                    (click)="$event.stopPropagation(); drawerProducts.toggle()"
                    *ngIf="hideSidenav"
                  >
                    <mat-icon>search</mat-icon>
                  </a>
                  Товари
                </mat-panel-title>
                <mat-panel-description>
                  <span
                    >{{ productList.value.length }} —
                    {{ totalPrice | currency: "₴" }}
                  </span></mat-panel-description
                >
              </mat-expansion-panel-header>
              <div class="table-wrapper">
                <table
                  mat-table
                  [dataSource]="productListDataSource"
                  formArrayName="list"
                  [style.width]="'100%'"
                >
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Назва товару</th>
                    <td mat-cell *matCellDef="let item">
                      {{ getProductName(item.product) }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Кількість</th>
                    <td
                      mat-cell
                      *matCellDef="let item; let index = index"
                      [formGroupName]="index"
                    >
                      <mat-form-field [style.max-width]="'40px'">
                        <input
                          matInput
                          type="number"
                          formControlName="quantity"
                        />
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Ціна</th>
                    <td
                      mat-cell
                      *matCellDef="let item; let index = index"
                      [formGroupName]="index"
                    >
                      <mat-form-field [style.max-width]="'60px'">
                        <input matInput type="number" formControlName="cost" />
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Сума</th>
                    <td mat-cell *matCellDef="let item; let index = index">
                      {{
                        productList.at(index).value.cost *
                          productList.at(index).value.quantity | currency: "₴"
                      }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let product">
                      <a mat-icon-button (click)="removeProduct(product)">
                        <mat-icon>delete</mat-icon>
                      </a>
                    </td>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>

                <h3 class="total-price">
                  Сума: {{ totalPrice | currency: "₴" }}
                </h3>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <!-- <pre>{{ form.value | json }}</pre> -->

          <div class="buttons">
            <button
              mat-raised-button
              type="submit"
              [disabled]="form.invalid || form.disabled"
              class="save"
            >
              Зберегти
            </button>
            <a
              *ngIf="!isNew"
              [disabled]="form.disabled"
              mat-raised-button
              class="delete"
              (click)="delete()"
            >
              <mat-icon>delete</mat-icon>
            </a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
